/* HEADINGS */

	#output h1:first-child,
	#output h2:first-child,
	#output h3:first-child,
	#output h4:first-child {
	   margin-top:0;
	}

	#output h1:not(:first-child) { margin-top:1.0em; }
	#output h2:not(:first-child) { margin-top:1.0em; }
	#output h3:not(:first-child) { margin-top:1.3em; }
	#output h4:not(:first-child) { margin-top:1.5em; }
	#output h5:not(:first-child) { margin-top:1.6em; }


/* TEXT */

	p.note {
	   color:#e74c3c;
	}

	p.special {
		padding: 5px 8px;
		border-radius: 5px;
		background: repeating-linear-gradient(
				-45deg,
				#EEE,
				#EEE 3px,
				#FFF 3px,
				#FFF 6px
		);
	}


/* NAVIGATION */

	li.fancy {
		padding: 3px;
		border: 1px dashed red;
		border-radius: 7px;
		left: -3px;
		top: -3px;
	}

	li.fancy p {
		font-style: italic;
	}

	li.fancy.active {
		border: 1px solid #333;
		background: repeating-linear-gradient(
				-45deg,
				#222,
				#222 5px,
				#333 5px,
				#333 10px
		);
	}

	li.fancy.active p {
		overflow: visible;
		text-overflow: clip;
		white-space: normal;
		margin: 5px 0;
	}

/* SCALING */

	@media only screen and (max-width:960px) {
		html {
			zoom: 85%;
		}
		.container-fluid {
			padding: 0 15px;
		}
	}

	@media only screen and (max-width:600px) {
		html {
			zoom: 75%;
		}
	}
