@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('lato-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('lato-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('lato-italic-webfont.woff') format('woff');
}

