// ---------------------------------------------------------------------------------------------------------------------
// layout
// ---------------------------------------------------------------------------------------------------------------------

	#top-nav.navbar {
        border-radius: 0;
	}

	body:after {
		padding-bottom: 100px;
		clear:both;
		content:"."
	}

	section#controllers,
	section#methods {
		height:100%;
		padding-bottom:100px;
		border-right:1px solid #eee;
	}

	section#controllers {
		border-right:0;
	}


// ---------------------------------------------------------------------------------------------------------------------
// header
// ---------------------------------------------------------------------------------------------------------------------

	#header h1{
		font-size:60px;
	}

	#content header {
		min-height: 110px;

		p {
			margin-bottom: 0;
			padding: 0;
		}
	}

// ---------------------------------------------------------------------------------------------------------------------
// navigation
// ---------------------------------------------------------------------------------------------------------------------

	#nav {
		margin-top: 113px;
	}

	#favourites {
		margin: 25px 0 0 15px;
	}

	#controllers{
		padding-right:5%;
	}

	.controller-list {

		// fade controller list when help shows
		transition: opacity 0.3s;
		#app[data-mode="help"] &{
			opacity: 0.2;
		}

		#app[data-mode="help"] &:hover{
			opacity:1;
		}

		// comments
        #app.show-comments & p.comment {
	        margin-bottom: 1em;
            height:17px;
        }

        p.comment {
            transition: 0.5s all;
	        margin-bottom: 0;
            height:0;
        }

		// folder elements
		li.folder {
			padding: 3px 5px;
			border-bottom: 1px dashed #EEE;
			margin-bottom: 4px;
		}

		#methods li.folder:first-child,
		#controllers li.folder:first-child {
			margin-top:-28px !important;
		}

		// list elements
		li {

			// links
			> a {
				padding: 4px 9px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			// folders
			&.folder,
			p {
				padding-left: 9px;
				font-size: 0.8em;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: #ccc;
				cursor: default;
				//margin-bottom:0.3em;
			}

			&.folder {
				margin-top:10px;
				margin-left:-20px;

				.name{
					color:#999;
				}
			}

			// icons
			&.icon:before{
				color:#CCC;
				position: absolute;
				top: 4px;
				left: -12px;
				font-family: FontAwesome;
				text-align: center;
				font-weight: 400;
				transition: left 0.3s;
			}

			&.icon:hover:before,
			&.active.icon:before{
				left:-18px;
				transition: left 0.2s;
			}

			// icons & styling
			&.favourite:before{
				content: "\f005";
				color: #FFCC00;
			}

			&.defer:before{
				content: "\f017";
			}

			&.warning:before{
				content: "\f12a";
				color: #FF0000;
			}

			&.archived a{
				color:#CCC;
			}

		}

		a.controller span.divider{

			position: relative;
			display: inline-block;
			padding:0 3px;
			color:#CCC;

			li.active &{
				opacity: 0.3;
			}
		}

		a.method.error{
			color:red;
		}

	}

// ---------------------------------------------------------------------------------------------------------------------
// info
// ---------------------------------------------------------------------------------------------------------------------

	#info {

		.info p{
			/*
			padding: 3px 10px;
			margin: 0 0 10px;
			border-left: 5px solid #ecf0f1;
			*/
		}

		/*
		.info:empty:after{
			visibility: hidden;
		}
		*/
	}

// ---------------------------------------------------------------------------------------------------------------------
// params
// ---------------------------------------------------------------------------------------------------------------------

	#params {

		margin-top: 2px;

		nav {
			min-height: 39px;
			padding:4px;

			li {
				padding:2px 6px;
				padding-right:10px;
				border-right:1px dotted rgba(0, 0, 0, 0.1);
				margin-right:8px;

				vertical-align: middle;
				float: none;
				display: inline-block;;

				&:last-child{
					border-right:none;
				}

				& > *{
					vertical-align: middle;
					margin:0;
				}
			}

        }

		.loader {
			position: absolute;
			display: block;
			width: 16px;
			height: 16px;
			right: 0;
			margin: 8px 12px;
			background-image: url('../images/ajax-loader.gif');
			background-repeat: no-repeat;
			transition: opacity 0.1s;
			opacity: 0;

			#console.loading & {
				opacity: 1;
			}
		}
	}

	#params {

		* {
			vertical-align: middle;
		}

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			height: 31px;
		}

		label:after{
			content:' : ';
		}

		// inputs
		input{
			border-radius: 3px;
			border:none;
			padding:3px 6px;
		}

		input:focus {
			color: rgb(204, 0, 0);
			outline: none;
		}

		input[type="checkbox"]{
			width:auto;
		}

		input[type="number"]{
			min-width:65px;
		}

		input[type="date"]{
			width:160px;
		}

		input[type="text"],
		input[type="string"],
		input[type="email"]{
			z-index: 1;
			box-sizing: border-box;
			min-width:100px;
			max-width:300px;
			//transition: width 0.3s;
		}

		// auto input sizing
		.field {
			position: relative;
			display: inline-block;
			z-index: 0;

			.sizer {
				position: absolute;
				top:0;
				left:0;
				padding:0 5px;
				overflow-y: hidden;
				width:auto;
				box-sizing: border-box;
				white-space: nowrap;

				// debugging
				//outline: 1px solid red;
				height:0px;
				transform: scaleX(0);
			}
		}

	}

// ---------------------------------------------------------------------------------------------------------------------
// output
// ---------------------------------------------------------------------------------------------------------------------

	#output{

		iframe.error {
			width:100%;
			min-height:2000px;
			outline:1px solid #DDD;
		}

		transition: opacity 0.2s;

		#console.transition.loading & {
			opacity: 0;
		}

		#console.pending & {
			opacity: 0.3;
		}

		> .data:not(:last-child) {
			padding-bottom: 21px;
			margin-bottom: 21px;
			border-bottom: 1px solid #ecf0f1;
		}

	}

// ---------------------------------------------------------------------------------------------------------------------
// settings
// ---------------------------------------------------------------------------------------------------------------------

	#settings {

	    form {
		    margin-top: 1.5em;
	    }

	    ul {
		    list-style: none;
		    margin-left: 15px;
		    padding: 0;
	    }

	    fieldset[name="paths"] {

		    li {
			    width: 100%;
		    }

		    .handle {
			    color:#CCC;
			    text-align: center;
			    width: 15px;
		    }

		    input[type="input"][name="name"] {
			    width:20%;
		    }

		    input[type="input"][name="path"] {
			    width:70%;
		    }

	    }

	    fieldset[name="ui"] {

		    article {
			    width: 33%;
			    max-width: 210px;
			    float: left;
		    }

	    }

    }

    .sortable-chosen {
	    opacity: .9;
	    z-index: 100;
	    background: #FFF;
    }

    .sortable-ghost {
	    opacity: .3;
    }

