// ------------------------------------------------------------------------------------------------
// global
// ------------------------------------------------------------------------------------------------

	html,
	body{
		height: 100%;
		width:100%;
		color:#666;
	}

	body{
		overflow-y:scroll;
		padding-bottom:100px;
	}

	body.modal-open .navbar-fixed-top{
		margin-right: 15px;
	}

	.container-fluid {
		min-width: 770px;
		max-width: 1500px;
		padding-left: 30px;
		padding-right: 30px;
	}


// ------------------------------------------------------------------------------------------------
// elements
// ------------------------------------------------------------------------------------------------

	// headings

		h1, h2, h3, h4, h5, h6{
			color:#2c3e50;
		}


		h1:first-child,
		h2:first-child,
		h3:first-child,
		h4:first-child{
			margin-top:0;
		}

		h3:not(:first-child),
		h4:not(:first-child){
			margin-top:1.5em;
		}

		h1{
			font-size:60px;
		}


	// code

		code{
			font-size: 0.8em;
		}

		.error{

		}


// ------------------------------------------------------------------------------------------------
// forms
// ------------------------------------------------------------------------------------------------

	.form-container{
		//width:70%;
	}

	form{

		// padding:0 15px;

		label{
			padding:4px;
		}

		textarea{
			max-width: 100%;
		}

		.help-text,
		.help-block{
			font-size:0.8em;
			padding-left:4px;
		}

		.form-group-submit{

			margin-top: 30px;
			margin-bottom:0;

			/*
			button{
				float: right;
			};
			*/
		}

		&.form-horizontal .control-label{
			//padding-top:0;
		}

		.form-group:last-child{
			margin-bottom: 0;
		}

	}

	.form-control {
		background-color:rgba(220,228,236,0.4);
		border:none;
		padding:9px 10px;
		font-size: inherit;
		height:40px;
	}

	input[type="radio"],
	input[type="checkbox"] {
		width:20px;
	}


/*
button{
	color:#666;
}

button:active{
	background:#666;
	color:#FFF;
}

button:hover{
	color:#FFF;
}
*/


// ------------------------------------------------------------------------------------------------
// special
// ------------------------------------------------------------------------------------------------

	p.note{
		color:#e74c3c;
	}


