@import 'colors';

// ---------------------------------------------------------------------------------------------------------------------
// global
// ---------------------------------------------------------------------------------------------------------------------

	html,
	body{
		height: 100%;
		width:100%;
		color:#666;
	}

	body{
		overflow-y:scroll;
		padding-bottom:100px;
	}

	body.modal-open .navbar-fixed-top{
		margin-right: 15px;
	}

	.container-fluid {
		min-width: 770px;
		max-width: 1520px;
		padding-left: 30px;
		padding-right: 30px;
	}


// ---------------------------------------------------------------------------------------------------------------------
// elements
// ---------------------------------------------------------------------------------------------------------------------

	// headings
	h1, h2, h3, h4, h5, h6{
		color:#2c3e50;
	}

	h1:first-child,
	h2:first-child,
	h3:first-child,
	h4:first-child{
		margin-top:0;
	}

	h1:not(:first-child){ margin-top:1.0em; }
	h2:not(:first-child){ margin-top:1.0em; }
	h3:not(:first-child){ margin-top:1.3em; }
	h4:not(:first-child){ margin-top:1.5em; }
	h5:not(:first-child){ margin-top:1.6em; }

	code {
	    font-size: 0.8em;
    }

// ---------------------------------------------------------------------------------------------------------------------
// forms
// ---------------------------------------------------------------------------------------------------------------------

	form {

		// padding:0 15px;

		label {
			padding:4px;
		}

		textarea {
			max-width: 100%;
		}

		.help-text,
		.help-block {
			font-size:0.8em;
			padding-left:4px;
		}

		.control-group li  > label {
			padding-bottom: 0;
			font-size: 13px;
			font-weight: normal;
		}

		.form-group-submit {

			margin-top: 30px;
			margin-bottom:0;

			/*
			button{
				float: right;
			};
			*/
		}

		&.form-horizontal .control-label {
			//padding-top:0;
		}

		.form-group:last-child {
			margin-bottom: 0;
		}

	}

	select.custom {
		background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="0 0 1200 1000" fill="rgb(123,138,139)"><path d="M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z"/></svg>');
		background-repeat: no-repeat;
		background-position: calc(100% - 7px) 50%;
		padding-right: 25px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		line-height: 1 !important;

		&:focus {
			outline: none;
		}
	}

	select::-ms-expand {
		display: none;
	}

	select:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}

	button {
		outline: none !important;
	}

	#params,
	#settings {

		.form-control {
			background-color: $input-bg;
			border:none;
			padding:9px 10px;
		}

		input[type="radio"],
		input[type="checkbox"] {
			width:20px;
		}

	}
