    #steps article{
        display: none;
    }

    #steps article.active {
        display: block;
    }

    #steps {
        transition: 0.5s all;
    }

    #steps.paused {
        //opacity: 0.25;
    }

    .btn[disabled]{
        opacity: 0.5;
        cursor: default;
    }

    .btn[disabled],
    .btn[disabled]:hover{
        color:inherit !important;
    }


    /** form **/

    fieldset {
        margin-bottom: 1.5em; }

    legend {
        margin-bottom: 0.3em; }

    .inline label.radio {
        padding-top: 0; }

    .inline div.radio {
        display: inline-block;
        margin-right: 10px; }

    pre,
    .table td.pre,
    .table.pre td,
    .code {
        font: normal 11px/1.4em Menlo, Monaco, Consolas, "Courier New", monospace !important;
        white-space: pre;
        color: #555;
        margin: 20px; }

    pre {
        background-color: #FBFBFB; }


    /** controls **/


    body {
        overflow-y: scroll;
        padding-bottom: 100px; }

    body.modal-open .navbar-fixed-top {
        margin-right: 15px; }

    h1, h2, h3, h4, h5, h6 {
        color: #2c3e50; }

    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child {
        margin-top: 0; }

    h3:not(:first-child),
    h4:not(:first-child) {
        margin-top: 1.5em; }

    h1 {
        font-size: 60px; }

    code {
        font-size: 0.8em; }

    form label {
        padding: 4px; }

    form textarea {
        max-width: 100%; }

    form .help-text,
    form .help-block {
        font-size: 0.8em;
        padding-left: 4px; }

    form .form-group-submit {
        margin-top: 30px;
        margin-bottom: 0;  }

    form .form-group:last-child {
        margin-bottom: 0; }

    .form-control {
        background-color: rgba(220, 228, 236, 0.4);
        border: none;
        padding: 9px 10px;
        font-size: inherit;
        height: 40px; }

    /** formatting **/

    body {
        padding-top: 100px;
        overflow-y: scroll;
        margin-bottom: 600px;
    }

    .navbar-default {
        background-color: #eeeeee;
    }

    .navbar-default .navbar-brand{
        color:#2c3e50 !important;
    }

    #setup{
        width:700px;
        margin:auto;
    }

    h2, h3, h4{
        margin-bottom: 1em;
        margin-top: 1em;
    }

    h4{
        color:black;
        margin-top:2em;
    }

    pre{
        border: none;
        margin: 25px 15px;
        font-size: 12px;
        color: #2c3e50;
        white-space: pre-wrap;
        word-break: break-all;
    }

    code{
        font-size:12px;
    }

    .form-group .help-block.hint,
    .form-group.active .help-block.prompt{
        display:none;
    }

    .form-group.active .help-block.hint,
    .form-group .help-block.prompt{
        display:block;
    }

    .help-block{
        line-height:18px;
    }

    .help-block.hint{
        color:black;
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        font-size: 0.7em;
    }

    .form-group.has-error .help-block.hint{
        color:#C00;
    }


    /** LOGS **/

    .logs{
        padding:10px 20px;
    }

    .logs .log{
        position: relative;
        list-style: none;
    }

    .logs .log .state{
        text-align:center;
        width:2%;
    }

    .logs p{
        margin-bottom:0.2em;
    }

    .logs .log .help-block{
        font-size:0.8em;
    }

    .logs .log.pass i{
        color:#0C0;
    }

    .logs .log.fail i{
        color:#C00;
    }

    .logs code{
        font-size: 0.7em;
        line-height: 1em;
        word-break: break-word;
    }