.modal {
  top: 0% !important;
  transition: opacity 0.2s;
  top: 0%; }
  .modal .modal-dialog {
    transition: none !important;
    -webkit-transform: none !important;
    transform: none !important; }

/*
	.modal{
		z-index: 100000000;
	}

	.modal-dialog {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		margin: 0;
		margin-top:-10%;
	}

	*/
.modal-content {
  margin: 0 auto;
  width: 700px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }
  .modal-content .modal-title {
    margin-top: 0 !important; }

.modal-backdrop {
  background-color: #FFF; }
  .modal-backdrop.in {
    opacity: 0.8; }

.sketchpad-container {
  max-width: 1570px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 1600px) {
  .container {
    width: 1570px; } }

/*
	.container{
		outline:1px solid green;
	}

	.row > *{
		outline:1px solid red;
	}
*/
input:focus {
  color: #cc0000;
  outline: none; }

.table.pre td,
pre,
.code {
  font: normal 11px/1.4em Menlo, Monaco, Consolas, "Courier New", monospace !important;
  white-space: pre;
  color: #555; }

pre {
  background-color: #FBFBFB; }

pre small, pre * {
  font-size: 1em; }

#output pre.sf-dump,
#output .jsonview {
  position: relative;
  display: block;
  padding: 5px;
  font: normal 11px/1.2em Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: #fff;
  word-wrap: normal;
  white-space: pre;
  z-index: 0; }

#output pre {
  border: none !important; }

#output[data-format="text"] {
  white-space: pre;
  font: normal 11px/1.4em Menlo, Monaco, Consolas, "Courier New", monospace; }

#output .jsonview {
  line-height: 1.4em; }
  #output .jsonview .prop {
    font-weight: 700;
    text-decoration: none;
    color: #000; }
  #output .jsonview .null,
  #output .jsonview .undefined {
    color: red; }
  #output .jsonview .bool,
  #output .jsonview .num {
    color: #00f; }
  #output .jsonview .string {
    color: #18bc9c;
    white-space: pre-wrap; }

#output pre.sf-dump span {
  display: inline; }

#output pre.sf-dump abbr {
  text-decoration: none;
  border: none;
  cursor: help; }

#output pre.sf-dump a {
  text-decoration: none;
  cursor: pointer;
  border: 0;
  outline: none; }

#output pre.sf-dump .sf-dump-compact {
  display: none; }

#output pre.sf-dump .sf-dump-num {
  color: #a71d5d; }

#output pre.sf-dump .sf-dump-const {
  color: #795da3; }

#output pre.sf-dump .sf-dump-str {
  color: #df5000; }

#output pre.sf-dump .sf-dump-cchr {
  color: #222; }

#output pre.sf-dump .sf-dump-note {
  color: #a71d5d; }

#output pre.sf-dump .sf-dump-ref {
  color: #a0a0a0; }

#output pre.sf-dump .sf-dump-public {
  color: #795da3; }

#output pre.sf-dump .sf-dump-protected {
  color: #795da3; }

#output pre.sf-dump .sf-dump-private {
  color: #795da3; }

#output pre.sf-dump .sf-dump-meta {
  color: #b729d9; }

#output pre.sf-dump .sf-dump-key {
  color: #df5000; }

#output pre.sf-dump .sf-dump-index {
  color: #a71d5d; }

html,
body {
  height: 100%;
  width: 100%;
  color: #666; }

body {
  overflow-y: scroll;
  padding-bottom: 100px; }

body.modal-open .navbar-fixed-top {
  margin-right: 15px; }

h1, h2, h3, h4, h5, h6 {
  color: #2c3e50; }

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
  margin-top: 0; }

h3:not(:first-child),
h4:not(:first-child) {
  margin-top: 1.5em; }

h1 {
  font-size: 60px; }

code {
  font-size: 0.8em; }

form label {
  padding: 4px; }

form textarea {
  max-width: 100%; }

form .help-block {
  font-size: 0.8em;
  padding-left: 4px; }

form .form-group-submit {
  margin-top: 30px;
  margin-bottom: 0;
  /*
			button{
				float: right;
			};
			*/ }

form .form-group:last-child {
  margin-bottom: 0; }

.form-control {
  background-color: rgba(220, 228, 236, 0.4);
  border: none;
  padding: 9px 10px;
  font-size: inherit;
  height: 40px; }

#setup {
  width: 600px; }

#controllers,
#methods {
  height: 100%;
  padding-bottom: 100px;
  border-right: 1px solid #eee; }

#controllers {
  border-right: 0; }

#welcome {
  display: none; }

#nav {
  margin-top: 113px;
  transition: opacity 0.3s; }
  body[data-mode="help"] #nav {
    opacity: 0.2; }
  body[data-mode="help"] #nav:hover {
    opacity: 1; }
  #nav #controllers .nav {
    margin-top: -38px; }
  #nav #controllers li.folder {
    padding: 3px 5px;
    border-bottom: 1px dashed #EEE;
    margin-bottom: 4px; }
  #nav .nav > li a {
    padding: 4px 9px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  #nav .nav > li.folder,
  #nav .nav > li p {
    padding-left: 9px;
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ccc;
    font-style: normal;
    cursor: default; }
  #nav .nav > li.folder {
    margin-top: 10px;
    margin-left: -20px; }
    #nav .nav > li.folder .name {
      color: #999; }
  #nav a.controller span.divider {
    position: relative;
    display: inline-block;
    padding: 0 3px;
    color: #CCC; }
    li.active #nav a.controller span.divider {
      opacity: 0.3; }
  #nav a.method.error {
    color: red; }

#info .info {
  /*
			padding: 3px 10px;
			margin: 0 0 10px;
			border-left: 5px solid #ecf0f1;
			*/
  padding: 3px 0px; }

#info .info:empty {
  visibility: hidden; }

#info nav {
  min-height: 39px;
  padding: 4px; }
  #info nav li {
    padding: 2px 6px;
    padding-right: 10px;
    border-right: 1px dotted rgba(0, 0, 0, 0.1);
    margin-right: 8px;
    vertical-align: middle;
    float: none;
    display: inline-block; }
    #info nav li:last-child {
      border-right: none; }
    #info nav li > * {
      vertical-align: middle;
      margin: 0; }
  #info nav label:after {
    content: ' : '; }
  #info nav li span {
    opacity: 0.2; }
  #info nav input {
    border-radius: 3px;
    border: none;
    padding: 3px 6px; }
  #info nav input:not([type="checkbox"]) {
    width: 100px; }

#params nav .loader {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  right: 0;
  margin: 8px 12px;
  background-image: url("images/ajax-loader.gif");
  background-repeat: no-repeat;
  transition: opacity 0.1s;
  opacity: 0; }
  #result.loading #params nav .loader {
    opacity: 1; }

#output {
  transition: opacity 0.2s; }
  #output iframe.error {
    width: 100%;
    height: 2000px;
    outline: 1px solid #DDD; }
  #result.transition.loading #output {
    opacity: 0; }

.table.debug th, .table.debug td {
  font-size: 13px;
  padding: 5px 8px; }

.table.debug thead th {
  font-weight: bold !important; }

.table.debug thead tr {
  background: inherit; }

.table.debug tbody th {
  min-width: 50px;
  color: #e74c3c !important; }

.table.debug tbody td {
  white-space: pre;
  overflow-x: auto; }
