#output {

	pre,
	.table td.pre,
	.table.pre td,
	.code{
		margin:20px;
		font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
		font-size: 11px;
		line-height:1.5em !important;
		font-weight: normal;
		white-space: pre;
		color:#555;
		tab-size: 4;
	}

	pre {
		background-color: #FBFBFB;
	}

	pre small, pre * {
		font-size:1em;
	}

	& pre.sf-dump,
	& .jsonview {

		position: relative;
		display: block;
		padding: 5px;

		font: normal 11px/1.2em Menlo, Monaco, Consolas, "Courier New", monospace; // Menlo
		background-color: #fff;
		//color: #222;

		word-wrap: normal;
		white-space: pre;
		z-index:0;
	}

	pre{
		border:none !important;
	}

	&[data-format="text"]{
		white-space: pre;
		font: normal 11px/1.4em Menlo, Monaco, Consolas, "Courier New", monospace;
	}

	@import "json";
	@import "php";
	@import "xdebug";
	@import "highlight";


}

