// ------------------------------------------------------------------------------------------------
// json
// ------------------------------------------------------------------------------------------------

.jsonview {

	line-height: 1.4em;

	.prop {
		font-weight: 700;
		text-decoration: none;
		color: #000
	}

	.null,
	.undefined {
		color: red
	}

	.bool,
	.num {
		color: #00f
	}

	.string {
		color: #18bc9c;
		white-space: pre-wrap
	}

}

