// ------------------------------------------------------------------------------------------------
// json
// ------------------------------------------------------------------------------------------------

@import 'colors';

.jsonview {

	line-height: 1.4em;

	.prop {
		font-weight: 700;
		text-decoration: none;
		color: #000
	}

	.null,
	.undefined {
		color: #AAA;
	}

	.bool{
		color: $bool;
	}

	.num {
		color: $number;
	}

	.string {
		color: $string;
		white-space: pre-wrap
	}

}
